# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies

# client 
client/build
client/coverage
client/.nyc_output
client/nohup.out
client/node_modules
client/.env
client/.eslintcache
client/cypress/screenshots
!/client/.env.dist


# docker
docker/app

# keycloak
keycloak/postgres_data

# server
server/jsonConfigurator
server/nohup.out
server/jsonConfigurator.exe
server/settings.development.json
server/settings.json
server/logs
server/scripts/generateModelFromXLSX/*.json
server/.vscode

# misc
.history
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# IntelliJ Idea
/.idea
*.iml

*.gitconfig
node_modules

#arango
arangodb/arangodb